<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

<!-- {% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}-->

<!-- Then we build the nav bar. -->
 
<nav>
    {% for entry in site.data.navigation %}
      <a style="padding: 4px 10px 3px 10px; margin-inline: 0px 21px;" href="{{ site.baseurl }}{{ entry.url }}" data-text="{{ entry.title }}">{{ entry.title }}</a>
    {% endfor %}
</nav>



